@model bool?

<div class="display-field">
    <label class="display-label">@ViewData.ModelMetadata.GetDisplayName()</label>
    <div class="display-value">
        @if (Model.HasValue)
        {
            if (Model.Value)
            {
                <span class="badge bg-success">Da</span>
            }
            else
            {
                <span class="badge bg-danger">Ne</span>
            }
        }
        else
        {
            <span class="text-muted">Ni podatka</span>
        }
    </div>
</div>